body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 0;
}

header{
    margin-right: 1em;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sozluk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.sozluk-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 55em;
    padding: 1em;
}

.sozluk-container p {
    margin-top: 1em;
    text-align: center;
}
.kelimeler{
    padding: 2em;
    font-weight: 500;
}

#nav-logo{
    width: 10em;

}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50em;
    padding: 1em;
}
.communication {
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communication a {
    margin: 0 10px; /* İkonlar arasındaki boşluk */
    text-decoration: none;
}

.communication svg {
    width: 30px;
    height: 30px;
    fill: #333; /* İlk renk */
    transition: transform 0.2s ease, color 0.3s ease; /* Hafif büyüme ve renk değişimi için geçiş efekti */
}

.communication a:hover svg {
    transform: scale(1.1); /* Hover durumunda hafiften büyütme */
    fill: #00CED1; /* Hover durumunda turkuaz renk */
}

#logo {
    width: 100%;
    max-width: 15em;
    height: auto;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;

}


/* Navbar'ı sayfa ortasına al */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
}

.container-fluid {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav .nav-link  {
    margin: 0 15px;
    text-decoration: none;
    font-weight: normal;
    transition: transform 0.2s ease, color 0.3s ease;

}

.navbar-nav .nav-link:hover {
    color: #20B2AA; /* Hover durumunda renk değişimi */
    font-weight: bold;
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00CED1;
    text-align: center;
    color: white;
    padding: 0.2em;

  }

footer p {
    margin: 0;
}

#goTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #00CED1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

#goTopButton:hover {
    background-color: #068688;

}

#goTopButton.hidden {
    opacity: 0;
    transform: translateY(20px); 
}


.scrollable {
  overflow-y: scroll;
}

.result-item {
  margin-bottom: 10px;
}


.search-container {
   margin-top: 2em;
}

#resultContainer {
    height: 20em; /* Max yükseklik belirlenmeli */
    overflow-y: auto; /* Scroll olabilmesi için overflow-y özelliği kullanılır */
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    width: 51em;
    display: none;
    text-align: start;
    justify-content: start;
    align-items: start;
    padding: 1em;
}

#red-beyan{
    background-color: #00CED1;
    padding: 2em;
    color: white;

}

.search-container {
    display: flex;
    margin: 10px;
  }
  
  #searchInput {
    padding: 10px;
    flex-grow: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .search-button {
    padding: 10px;
    background-color: #00CED1;
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color 0.3s ease; 
  }
  
  .search-button:hover {
    background-color: #068688;
  }
  